.image {
    position: relative;
    margin: 20px 0;

    &__action {
        display: flex;
        align-items: center;
        position: absolute;
        top: 15px;
        right: 30px;
        padding: 9px 9px 6px;
        vertical-align: middle;
        font-size: 24px;
        background-color: $primary;
        opacity: .7;
        cursor: pointer;
        color: $primaryTextLight;
        line-height: 1;
    }
}