$primary: #5974d9;
$primaryLight: #8ea2ff;
$primaryDark: #1649a7;
$primaryText: #babcc4;
$primaryTextLight: #fff;

$secondary: #3f4457;
$secondaryLight: #6a6f84;
$secondaryDark: #181d2e;
$secondaryText: #000;
$secondaryTextLight: #333;

$alternative: #19c395;
$alternativeDark: darken($alternative, 10%);